[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
django-cloudinary-storage = "*"
django-heroku = "*"
dj3-cloudinary-storage = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
